@use '/resources/scss/partials/variables' as *;
@import '~bootstrap/scss/bootstrap';

body {

    #app_footer {

            .top_footer {
                // background-image: url({{ Vite::asets('resources/img/footer-bg.jpg')}});
    
                ul {
                    list-style: none;
                    padding: 0;
                }
    
                h5 {
                    margin: 1rem 0;
                    color: #ffffff;
                }
    
                li {
                    line-height: 1rem;
                }
    
                a {
                    font-size: 0.7rem;
                    text-decoration: none;
                    color: gray;
                }
            }
    
            .bottom_footer {
                padding: 1rem 0;
                background-color: $footerBottom;
    
                .btn_singup {
                    border: 1px solid $primary;
                    color: white;
                    padding: 0.5rem 1rem;
                }
    
                .circle {
                    width: 2.5rem;
                    aspect-ratio: 1/1;
                    margin-left: 0.5rem;
                    color: $primary;
                }
    
                span {
                    color: $primary;
                }
            }
    }
}
